.Header {
    

    padding: 1rem;
    .linkTitles {
        font-size: 2em;
        font-weight: bold;
    }
   
}
.Header > span {
    margin: 1rem;
}
a {
    color: white;
    text-decoration: none;
    &:hover {
        color: orange;
    }
}
