$desktop: 840px;
@mixin desktop {
  @media (min-width: #{$desktop}){
      @content;
  }
}
.App {
    text-align: center;
  }
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: White;
  }
  /*Wrapper*/
  .wrapper{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 20% auto;
    grid-template-areas:
    "sentence"
    "fadeIn";
    font-family: 'Raleway', sans-serif;
    margin: 100px auto;
    padding: 40px 40px;
    position: relative;
    width: 70%;
    @include desktop {
      grid-template-columns: 30% auto;
      grid-template-rows: 1;
      grid-template-areas:
      "sentence fadeIn"
    }
    /*Sentence*/
    .sentence {
      grid-area: sentence;
      justify-self: center;
     color: white;
     font-size: 30px;
     text-align: center;
     position: relative;
    // left: -340px;
    @include desktop {
     
      
    }
     
  /*FadeIn*/
  .fadeIn{
    grid-area: fadeIn;
    position: absolute;
    top: 50px;
    left: 75px;
    @include desktop {
      top: -50px;
      left: 300px;
      justify-self: center;
      position: relative;
    }
  }
  //Animation, add 1.5 seconds on for each nth-child and another 1.5 seconds for total.
    .fadeIn span{
    animation: fadeEffect 16.5s linear infinite 0s;
    color: #00abe9;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    }
    .fadeIn span:nth-child(2){
  animation-delay: 1.5s;
  
    }
    .fadeIn span:nth-child(3){
      animation-delay: 3s;
     
    }
    .fadeIn span:nth-child(4){
      animation-delay: 4.5s;
      
    }
    .fadeIn span:nth-child(5){
      animation-delay: 6s;
      
    }
    .fadeIn span:nth-child(6){
        animation-delay: 7.5s;
        
      }
      .fadeIn span:nth-child(7){
        animation-delay: 9s;
        
      }
      .fadeIn span:nth-child(8){
        animation-delay: 10.5s;
        
      }
      .fadeIn span:nth-child(9){
        animation-delay: 12s;
        
      }
      .fadeIn span:nth-child(10){
        animation-delay: 13.5s;
        
      }
      .fadeIn span:nth-child(11){
        animation-delay: 15s;
        
      }
      
    
    /*Pop Effect*/
    .popEffect{
      display: inline;
      text-indent: 8px;
    }
    .popEffect span{
      animation: pop 12.5s linear infinite 0s;
      -ms-animation: pop 12.5s linear infinite 0s;
      -webkit-animation: pop 12.5s linear infinite 0s;
      color: #00abe9;
      opacity: 0;
      overflow: hidden;
      position: absolute;
    }
    .popEffect span:nth-child(2){
      animation-delay: 2.5s;
      -ms-animation-delay: 2.5s;
      -webkit-animation-delay: 2.5s;
    }
    .popEffect span:nth-child(3){
      animation-delay: 5s;
      -ms-animation-delay: 5s;
      -webkit-animation-delay: 5s;
    }
    .popEffect span:nth-child(4){
      animation-delay: 7.5s;
      -ms-animation-delay: 7.5s;
      -webkit-animation-delay: 7.5s;
    }
    .popEffect span:nth-child(5){
      animation-delay: 10s;
      -ms-animation-delay: 10s;
      -webkit-animation-delay: 10s;
    }
  }
  }
  /*Scale Animation*/
  @keyframes fadeEffect{
  0% { opacity: 0; }
  5% { opacity: 0; transform: scale(0.1); }
  10% { opacity: 1; transform: scale(2); }
  25% { opacity: .1; transform: scale(2); }
  30% { opacity: 0; transform: scale(0.1); }
  80% { opacity: 0; }
  100% { opacity: 0; }
  }
  
  
  
  
  /*FadeIn Animation*/
  // @keyframes fadeEffect{
  // 0% { opacity: 0; }
  // 5% { opacity: 0; -moz-transform: translateY(-50px); }
  // 10% { opacity: 1; -moz-transform: translateY(0px); }
  // 25% { opacity: .1; -moz-transform: translateY(0px); }
  // 30% { opacity: 0; -moz-transform: translateY(50px); }
  // 80% { opacity: 0; }
  // 100% { opacity: 0; }
  // }
  // @-webkit-keyframes fadeEffect{
  // 0% { opacity: 0; }
  // 5% { opacity: 0; -webkit-transform: translateY(0px); }
  // 10% { opacity: 1; -webkit-transform: translateY(0px); }
  // 25% { opacity: 1; -webkit-transform: translateY(0px); }
  // 30% { opacity: 0; -webkit-transform: translateY(0px); }
  // 80% { opacity: 0; }
  // 100% { opacity: 0; }
  // }
  // @-ms-keyframes fadeEffect{
  // 0% { opacity: 0; }
  // 5% { opacity: 0; -ms-transform: translateY(0px); }
  // 10% { opacity: 1; -ms-transform: translateY(0px); }
  // 25% { opacity: 1; -ms-transform: translateY(0px); }
  // 30% { opacity: 0; -ms-transform: translateY(0px); }
  // 80% { opacity: 0; }
  // 100% { opacity: 0; }
  // }
  
  
  /*Pop Effect Animation*/
  @-moz-keyframes pop{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0;}
  }
  @-webkit-keyframes pop{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px);}
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
  }
  @-ms-keyframes pop{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
  }
  
  